.header__lang-link {
    width: 22px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: right;
}

.header__lang-link:hover {
    transition: color .2s linear .2s;
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        width: 30px;
        font-size: 24px;
        line-height: 28px;
        padding-top: 18px;
    }
}
