.place__title {
    min-width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #ffffff;
    margin: 0;
    padding: 24px 16px 20px;
}

@media screen and (min-width: 768px) {
    .place__title {
        width: 330px;
        font-size: 42px;
        line-height: 46px;
        grid-area: title;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        width: 440px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1280px) {
    .place__title {
        width: 460px;
    }
}
