.place__image {
    width: 100%;
    height: 320px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
        grid-area: image;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        width: 460px;
        height: 460px;
    }
}
