@import url('./__title/__title.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__figure/__figure.css');
@import url('./__image/__image.css');
@import url('./__caption/__caption.css');

.lead {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

@media screen and (min-width: 1024px) {
    .lead {
        min-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        min-width: 984px;
    }
}
