.footer__link {
    width: 100%;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 0 32px;
}

.footer__link:hover {
    color: rgb(132, 138, 132);
    transition: color .2s linear .2s;
    opacity: .5;
}

@media screen and (min-width: 768px) {
    .footer__link {
        width: 100%;
        height: 18px;
        font-size: 16px;
        line-height: 18px;
        padding: 0;
    }
}
