.place__paragraph {
    width: 288px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0 16px 24px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        width: 352px;
        margin-bottom: 24px;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        width: 456px;
        font-size: 18px;
        line-height: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        width: 484px;
    }
}
