.footer__copyright {
    width: 100%;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        width: 186px;
        height: 16px;
        line-height: 16px;
        text-align: right;
        margin: 0;
        padding-left: 52px;
    }
}

@media screen and (min-width: 1024px) {
    .footer__copyright {
        padding-left: 258px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        padding-left: 520px;
    }
}
