.lead__image {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

@media screen and (min-width: 768px) {
    .lead__image {
        height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image {
        height: 580px;
        padding: 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        height: 580px;
        padding: 0 148px;
    }
}
