.intro__text {
    min-width: 288px;
    min-height: 520px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 0;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .intro__text {
        width: 720px;
        min-height: 208px;
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        width: 690px;
        padding: 0 0 32px;
    }
}
