.lead__subtitle {
    min-width: 288px;
    min-height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 0 16px 40px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        min-width: 640px;
        height: 72px;
        font-size: 30px;
        line-height: 36px;
        padding: 0 64px 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        padding: 0 192px 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        padding: 0 320px 64px;
    }
}
