@import url('./__title/__title.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__background/__background.css');
@import url('./__overlay/__overlay.css');

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 200px;
    position: relative;
    margin-top: 40px;
}

.cover:hover .cover__background::before {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
        margin: 0 48px;
    }
}
