.footer__navigation {
    display: flex;
    flex-direction: column;
    min-width: 186px;
    height: 310px;
    padding: 64px 118px 24px 16px;
}

@media screen and (min-width: 768px) {
    .footer__navigation {
        display: grid;
        grid-template-columns: repeat(5, minmax(min-content, max-content)) 1fr;
        grid-gap: 18px;
        height: 18px;
        padding: 88px 24px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer__navigation {
        padding: 92px 48px 24px;
    }
}
