.cover__background {
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.cover__background::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    z-index: 2;
}
