@import url('./__image/place__image.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__link/place__link.css');
@import url('./__url-heading/place__url-heading.css');

.place {
    padding-bottom: 48px;
}

.place:last-of-type {
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas: 
        "title website"
        "image paragraph"
        "image paragraph";
        grid-gap: 28px 24px;
        padding-bottom: 72px;
    }

    .place:last-of-type {
        padding-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        padding-bottom: 80px;
    }

    .place:last-of-type {
        padding-bottom: 92px;
    }
}
