@import url('./__image/__image.css');
@import url('./__paragraphs/__paragraphs.css');
@import url('./__paragraph/__paragraph.css');
@import url('./__title/__title.css');
@import url('./__website/__website.css');
@import url('./__link/__link.css');
@import url('./__url-heading/__url-heading.css');

.place {
    width: 90%;
}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas: 
        "title website"
        "image paragraph"
        "image paragraph";
        grid-gap: 28px 24px;
        padding: 0 24px 72px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        padding: 0 48px 80px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        padding: 0 148px 80px;
    }
}
