@import url('./__link/__link.css');
@import url('./__copyright/__copyright.css');

.footer {
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 310px;
    padding: 64px 118px 24px 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(6, minmax(min-content, max-content));
        grid-gap: 18px;
        width: 720px;
        height: 18px;
        padding: 88px 24px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 928px;
        padding: 92px 48px 24px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        width: 1184px;
    }
}
