.place__website {
    display: none;
}

@media screen and (min-width: 768px) {
    .place__website {
        display: grid;
        width: 352px;
        grid-area: website;
        align-self: end;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        width: 456px;
    }
}
