.place__website {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .place__website {
        width: 352px;
        min-height: 46px;
        grid-area: website;
        align-self: end;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        width: 456px;
    }
}
